.single_contents {
  display: grid;
  grid-template-columns: 1fr 300px;
}
aside {
  display: flex;
  gap: 32px;
}
.ratings {
  display: flex;
}
.desc {
  max-width: 550px;
  width: 100%;
}
.aside_title {
  width: 100%;
  border-bottom: 1px solid #f6f7f8;
}
.size {
  display: flex;
  align-items: center;
  gap: 32px;
}
.size select {
  margin-left: 56px;
  padding: 10px 56px 10px 10px;
  border: 2px solid #f1f3f4;
  outline: none;
}
.bside {
  display: block;
}
.single_contents {
  padding-top: 40px;
  padding-bottom: -160px;
}
.mySwiper {
  display: flex !important;
  flex-direction: column;
}
.aside_carts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.counter {
  display: flex;
  align-items: center;
}
.share {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
